<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">

        welcome to Youtube channal
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <h1>
            HTML form
        </h1>
        <form action ="/submit" mehtods= 'post'>
            <label for="DataScience"> Science:</label><br>
            <input type="text" id ="science" name="science" value ="0"><br>
            <label for ="Maths">Maths:</label><br>
            <input type="text" id ="math" name="math" value = "0"<br><br>
            <label for="Python"> Python:</label><br>
            <input type="text" id ="python" name="python" value ="0"><br>
            <label for ="Maths">java:</label><br>
            <input type="text" id ="java" name="java" value = "0"<br><br>
            <input type ="submit" value="submit">

            <p>
                if you click the button the detailes will be sent to the 
            </p>





        </form>
        
        <script src="" async defer></script>
        <h1>Live streaming</h1>
    <div>

        <img src="{{ url_for('video') }}" width="50%"/>
    </div>
           
    </body>
</html>